.first-ai
    .first-ai-flex
        display: flex
        flex-direction: column
        align-items: center

        h2
            text-align: center
        
        .first-ai-caracteristicas
            display: flex
            flex-direction: row
            align-items: center