.header
    margin-top: 2em
    margin-bottom: 2em
    .header-flex
        display: flex
        flex-direction: row
        justify-content: space-between

        .header-email
            color: #11174F
            text-decoration: underline
            display: flex
            flex-direction: row
            column-gap: 1em
            align-items: center