.hero
    padding-top: 26em
    padding-bottom: 26em
    background-color: #11174F
    background-size: cover
    background-position: center
    background-repeat: no-repeat

        .hero-flex
            display: flex
            flex-direction: row
            align-items: center
    
        .hero-text
            max-width: 115px
            width: 100%
            color: white

            h1
                margin-bottom: 0.5empx
                font-size: 60px
            p
                margin-bottom: 1.5em
                font-size: 20px