.hero
    padding-top: 4em
    padding-bottom: 4em
    margin-bottom: 6em
    background-color: #11174F
    
    .hero-flex
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    
        .hero-text
            max-width: 551px
            width: 100%
            color: white
            

            h1
                margin-bottom: 0.5em
                font-size: 60px
            p
                margin-bottom: 1.5em
                font-size: 20px
                line-height: 160%
        
        .hero-img
            img
                max-width: 850px
                width: 100%